{% extends "base.html" %}
{% block title %} Admin Dashboard | Create Category {% endblock %}

{% block content %}


<div class="font-[sans-serif]">
  <div class="bg-gradient-to-r from-blue-700 to-blue-300 w-full h-60">
    <img src="https://readymadeui.com/cardImg.webp" alt="Banner Image" class="w-full h-full object-cover" />
  </div>

  <div class="-mt-28 mb-6 px-4">
    <div class="mx-auto max-w-6xl shadow-lg p-8 relative bg-white rounded-md">
      <h2 class="text-xl text-gray-800 font-bold">Cretae New Category</h2>

      <form method="post" enctype="multipart/form-data" class="mt-8 grid sm:grid-cols-2 gap-6">
        {% csrf_token %}
        <div>
          <label class="text-gray-800 text-sm block mb-2">Category name</label>
          <input type='text' placeholder='Enter category name' name="name"
            class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]" />
        </div>
        <div>
          <label class="text-gray-800 text-sm block mb-2">Color</label>
          <input type='text' placeholder='Enter product color eg.(#5F16B9 or red)' name="color"
            class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]" />
        </div>
        <div>
          <label class="text-gray-800 text-sm block mb-2">Image</label>
          <input type='file' name="image"
            class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]" />
        </div>
<br>
        <button type='submit'
          class="text-white font-semibold w-max bg-[#007bff] hover:bg-blue-600 tracking-wide rounded-md text-sm px-6 py-3 mt-4">
          Add Category
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}